.container {
  display: flex;
  flex-direction: column;
}

.video {
  width: full;
  height: 300px;
  object-fit: cover;
  margin-bottom: 40px;
  border-radius: 10px;
}

.searchbar {
  margin: 0 auto;
}

.header {
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
}
